body {
    background-color: rgb(0, 0, 0);
    background: url(https://i.pinimg.com/736x/e9/79/27/e9792750cbbe7787015d1f759f7c743c.jpg);


}

#gamearea {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 600px;
    width: 800px;
    background-color: rgba(255, 251, 251, 0.492);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 20px;

}

input {
    color: rgb(252, 252, 252);
    background-color: black;
    border: 0px;
}

input:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: blue;
}

#buttonarea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}